*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;
    list-style: none;
}
body{
    background-color: rgb(0, 0, 0);
}
.nav-list{
    margin-top: 10px;
    margin-left: 25px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1345px;
    height: 70px;
    /* background-color: rgba(255, 255, 255, 0.432); */
    padding: 20px;
    border-radius: 5px;
}
.logo{
    margin-right: 500px;
    font-size: 25px;
}
.nav-botton{
    margin-left: 25px;
    margin-right: 25px;
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    transition: 1s;
    /* border: 1px solid black; */
    /* background-color: rgb(193, 127, 255); */
}
.nav-botton:hover{
    margin-left: 25px;
    margin-right: 25px;
    width: 70px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    /* border: 1px solid black; */
    background-color: rgb(255, 196, 0);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.vertical-nav{
    height: 605px;
    width: 100px;
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 1;
}
.vertical-nav>img{
    width: 20px;
    height: 20px;
    margin-bottom: 90px;
}
.social-logo{
    margin-top: 12px;
    margin-bottom: 12px;
}
.both-nav{
    display: flex;
}
.astro-image{
    position: absolute;
    left: 750px;
    top: 150px;
}
.astro-image>img{
    width: 450px;
    height: 450px;
    transition: 1s;
}
.astro-image>img:hover{
    width: 450px;
    height: 450px;
    filter: drop-shadow(5px 5px 10px #ffa500);
}
.text{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
}
.big-text{
    height: 500;
    width: 500;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 140px;
    left: 130px;
    transition: 1s;
}
.big-text:hover{
    height: 500;
    width: 500;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 140px;
    left: 130px;
    text-shadow: 4px 4px 5px #ffa500;
}
.rectangle{
    position: absolute;
    top: 450px;
    left: 30px;
    border: 10px solid #ffa500;
    width: 380px;
    height: 90px;
    transition: 1s;}
.rectangle:hover{
    position: absolute;
    top: 450px;
    left: 115px;
    border: 10px solid #ffa500;
    width: 380px;
    height: 90px;
}
.short-text{
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    top: 478px;
    left: 300px;
}
.line{
    position: absolute;
    top: 495px;
    left: 150px;
    z-index: 2;
    color: aliceblue;
    width: 120px;
}
